@page "/"
@using System
@using InfijoToPostfijo.Components.Services

@rendermode InteractiveServer

<h3 class="text-center">Conversión a Notación Postfija</h3>
<form class="row mt-5">
    <div class="col-5">
        <div class="form-group">
            <label>Expresion Infija</label>
            <InputText class="form-control" @bind-Value="expresion" placeholder="Ingrese una expresión" />
        </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-end" style="gap: 15px;">
        <button class="btn btn-primary" type="button" @onclick="Convertir">Convertir</button>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label>Expresion Posfija</label>
            <InputText class="form-control" @bind-Value="covertido" placeholder="" disabled/>
        </div>
    </div>
    <div class="row">
        <div class="col-3 d-flex align-items-end justify-content-end">
            <button class="btn btn-secondary" type="button" @onclick="Operar">Operar</button>
        </div>
        <div class="col-6 mt-4">
            <div class="form-group">
                <label>Resultado Operado</label>
                <InputText class="form-control" @bind-Value="operacion" placeholder="" disabled />
            </div>
        </div>
    </div>
</form>


@code {
    private string expresion = "";
    private string covertido = "";
    private string operacion = "";
    ConverterPostfijo convertidor = new ConverterPostfijo();

    private void Convertir()
    {
        covertido = convertidor.Convertir(expresion);
        //System.Diagnostics.Debug.WriteLine();
    }

    private void Operar(){
       operacion = convertidor.Operar(covertido).ToString();
    }
}